@import "tailwindcss";
@import "tw-animate-css";

@theme {
  /* CORES PRINCIPAIS */
  --color-primary: #2563eb;
  --color-accent: #38bdf8;
  --color-dark: #0f172a;
  --color-hover: #0b40b4;

  /* BACKGROUND */
  --color-background: #f0f0f2;
  --color-background-2: #ffffff;
  --color-input: #dae2f9;

  /* TEXT */
  --color-text-primary: #030710;
  --color-text-secundary: #64748b;

  --font-poppins: "Poppins", sans-serif;
}

* {
  font-family: "Poppins", sans-serif;
}
