@import "tailwindcss";
@import "tw-animate-css";

@theme {
  /* CORES PRINCIPAIS */
  --color-primary: #2563eb;
  --color-accent: #38bdf8;
  --color-dark: #0f172a;

  /* BACKGROUND */
  --color-background: #f1f5f9;
  --color-background-2: #ffffff;

  /* TEXT */
  --color-text-primary: #030710;
  --color-text-secundary: #64748b;

  --font-poppins: "Poppins", sans-serif;
}
